.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e5e5;
}

.clock {
  width: 400px;
  height: 400px;
  background-color: transparent;
  border-radius: 50%;
  position: relative;
  border: 3.45px solid #ffffff;
  box-shadow: 13.79310417175293px 13.79310417175293px 34.48276138305664px 0px
      #00000040,
    13.79310417175293px 13.79310417175293px 34.48276138305664px 0px #00000040
      inset,
    -13.79310417175293px -13.79310417175293px 34.48276138305664px 0px #ffffff
      inset;

  mix-blend-mode: multiply;
}

.clock::before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: white;
  display: block;
  top: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-45%, -45%);
  z-index: 1;
  border-radius: 50%;
}

.clock__face {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.clock__face-mark {
  position: absolute;
  left: 50%;
  right: 50%;
  top: 0;
  bottom: 0;
}

.clock__hand {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 50%;
  /* top: 30%; */
  transform: translate(-50%, -50%);
}

.clock__hand-body {
  background-color: transparent;
  top: 50%;
  /* bottom: 50%; */
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.clock__hand-body--hour {
  top: 50%;
  left: 20% !important;
}

.clock__hand-body--seconds {
  /* left: 50%; */
}
